# Publish only the course README and lab handouts.
/*
!/.gitignore
!/README.md
!/lab_solutions/
/lab_solutions/*
!/labs/
/labs/*
!/labs/01_ciclo_modelops_e_pipeline_dati_modello_deploy.md
!/labs/02_ci_cd_automazione_workflow_e_pipeline.md


!/lab_solutions/sol_01_ciclo_modelops_e_pipeline_dati_modello_deploy.md
/demo/
